<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="vt-ldap" verbose="1" parallel="tests" thread-count="1">

  <!-- ldap test parameters -->
  <parameter name="createEntry2"
             value="/edu/vt/middleware/ldap/createLdapEntry-2.ldif"/>
  <parameter name="createEntry3"
             value="/edu/vt/middleware/ldap/createLdapEntry-3.ldif"/>
  <parameter name="createEntry4"
             value="/edu/vt/middleware/ldap/createLdapEntry-4.ldif"/>
  <parameter name="createEntry5"
             value="/edu/vt/middleware/ldap/createLdapEntry-5.ldif"/>
  <parameter name="createEntry6"
             value="/edu/vt/middleware/ldap/createLdapEntry-6.ldif"/>
  <parameter name="createEntry7"
             value="/edu/vt/middleware/ldap/createLdapEntry-7.ldif"/>
  <parameter name="createEntry8"
             value="/edu/vt/middleware/ldap/createLdapEntry-8.ldif"/>
  <parameter name="createEntry9"
             value="/edu/vt/middleware/ldap/createLdapEntry-9.ldif"/>
  <parameter name="createEntry10"
             value="/edu/vt/middleware/ldap/createLdapEntry-10.ldif"/>
  <parameter name="createEntry11"
             value="/edu/vt/middleware/ldap/createLdapEntry-11.ldif"/>
  <parameter name="createEntry12"
             value="/edu/vt/middleware/ldap/createLdapEntry-12.ldif"/>

  <parameter name="createGroup2"
             value="/edu/vt/middleware/ldap/createGroupEntry-2.ldif"/>
  <parameter name="createGroup3"
             value="/edu/vt/middleware/ldap/createGroupEntry-3.ldif"/>
  <parameter name="createGroup4"
             value="/edu/vt/middleware/ldap/createGroupEntry-4.ldif"/>
  <parameter name="createGroup5"
             value="/edu/vt/middleware/ldap/createGroupEntry-5.ldif"/>
  <parameter name="createGroup6"
             value="/edu/vt/middleware/ldap/createGroupEntry-6.ldif"/>
  <parameter name="createGroup7"
             value="/edu/vt/middleware/ldap/createGroupEntry-7.ldif"/>
  <parameter name="createGroup8"
             value="/edu/vt/middleware/ldap/createGroupEntry-8.ldif"/>
  <parameter name="createGroup9"
             value="/edu/vt/middleware/ldap/createGroupEntry-9.ldif"/>

  <parameter name="createSpecialCharsEntry"
             value="/edu/vt/middleware/ldap/specialChars.ldif"/>

  <parameter name="multipleLdifResultsIn"
             value="/edu/vt/middleware/ldap/multipleEntriesIn.ldif"/>
  <parameter name="multipleLdifResultsOut"
             value="/edu/vt/middleware/ldap/multipleEntriesOut.ldif"/>
  <parameter name="ldifEntry"
             value="/edu/vt/middleware/ldap/dfisher.ldif"/>
  <parameter name="ldifSortedEntry"
             value="/edu/vt/middleware/ldap/dfisher.sorted.ldif"/>

  <parameter name="dsmlv1Entry"
             value="/edu/vt/middleware/ldap/dfisher.dsmlv1"/>
  <parameter name="dsmlv1SortedEntry"
             value="/edu/vt/middleware/ldap/dfisher.sorted.dsmlv1"/>
  <parameter name="dsmlv2Entry"
             value="/edu/vt/middleware/ldap/dfisher.dsmlv2"/>
  <parameter name="dsmlv2SortedEntry"
             value="/edu/vt/middleware/ldap/dfisher.sorted.dsmlv2"/>

  <parameter name="searchResults2"
             value="/edu/vt/middleware/ldap/searchResults-2.ldif"/>
  <parameter name="searchResults3"
             value="/edu/vt/middleware/ldap/searchResults-3.ldif"/>
  <parameter name="searchResults4"
             value="/edu/vt/middleware/ldap/searchResults-4.ldif"/>
  <parameter name="searchResults5"
             value="/edu/vt/middleware/ldap/searchResults-5.ldif"/>
  <parameter name="searchResults6"
             value="/edu/vt/middleware/ldap/searchResults-6.ldif"/>
  <parameter name="searchResults7"
             value="/edu/vt/middleware/ldap/searchResults-7.ldif"/>
  <parameter name="searchResults8"
             value="/edu/vt/middleware/ldap/searchResults-8.ldif"/>
  <parameter name="searchResults9"
             value="/edu/vt/middleware/ldap/searchResults-9.ldif"/>
  <parameter name="searchResults10"
             value="/edu/vt/middleware/ldap/searchResults-10.ldif"/>
  <parameter name="searchResults11"
             value="/edu/vt/middleware/ldap/searchResults-11.ldif"/>
  <parameter name="searchResults12"
             value="/edu/vt/middleware/ldap/searchResults-12.ldif"/>

  <parameter name="renameOldDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="renameNewDn" value="uid=1002,ou=test,dc=vt,dc=edu"/>

  <parameter name="compareDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="compareFilter" value="(departmentNumber={0})"/>
  <parameter name="compareFilterArgs" value="0822"/>

  <parameter name="searchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="searchFilter" value="(uid={0})"/>
  <parameter name="searchFilterArgs" value="2"/>
  <parameter name="searchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="searchResults"
             value="/edu/vt/middleware/ldap/searchResults-2.ldif"/>

  <parameter name="searchAttributesDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="searchAttributesFilter" value="mail=jdoe2@vt.edu"/>
  <parameter name="searchAttributesReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="searchAttributesResults"
             value="/edu/vt/middleware/ldap/searchAttributesResults-2.ldif"/>

  <parameter name="pagedSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="pagedSearchFilter" value="uugid=*"/>
  <parameter name="pagedSearchResults"
             value="/edu/vt/middleware/ldap/pagedResults.ldif"/>

  <parameter name="recursiveSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="recursiveSearchFilter" value="(uugid={0})"/>
  <parameter name="recursiveSearchFilterArgs" value="group2"/>
  <parameter name="recursiveAttributeHandlerResults"
             value="/edu/vt/middleware/ldap/recursiveAttributeHandlerResults.ldif"/>
  <parameter name="recursiveSearchResultHandlerResults"
             value="/edu/vt/middleware/ldap/recursiveSearchResultHandlerResults.ldif"/>

  <parameter name="mergeSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="mergeSearchFilter" value="(|(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="mergeSearchResults"
             value="/edu/vt/middleware/ldap/mergeResults.ldif"/>

  <parameter name="mergeDuplicateSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="mergeDuplicateSearchFilter" value="(|(uugid=group3)(uugid=group4)(uugid=group5))"/>
  <parameter name="mergeDuplicateSearchResults"
             value="/edu/vt/middleware/ldap/mergeDuplicateResults.ldif"/>

  <parameter name="binarySearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="binarySearchFilter" value="uid=2"/>
  <parameter name="binarySearchReturnAttr" value="jpegPhoto"/>
  <parameter name="binarySearchResult"
             value="/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="searchExceptionDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="searchExceptionFilter" value="(|(uugid=group2)(uugid=group3)(uugid=group4))"/>
  <parameter name="searchExceptionResultsSize" value="3"/>

  <parameter name="specialCharSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="specialCharSearchFilter" value="(uid=17893)"/>
  <parameter name="specialCharSearchResults"
             value="/edu/vt/middleware/ldap/specialChars.ldif"/>

  <parameter name="listDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="listResults" value="uid=1|uid=2"/>

  <parameter name="listBindingsDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="listBindingsResults" value="uid=1|uid=2"/>

  <parameter name="getAttributesDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="getAttributesReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="getAttributesResults"
             value="departmentNumber=0822|givenName=John|sn=Doe"/>

  <parameter name="getAttributesBase64Dn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="getAttributesBase64ReturnAttrs" value="sn|jpegPhoto"/>
  <parameter name="getAttributesBase64Results"
             value="sn=Doe|jpegPhoto=/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="getSchemaDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="getSchemaResults"
             value="/edu/vt/middleware/ldap/getSchemaResults.ldif"/>

  <parameter name="addAttributeDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="addAttributeAttribute"
             value="title=Test User|title=Best User"/>

  <parameter name="addAttributesDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="addAttributesAttributes"
             value="telephoneNumber=15408675309|homePhone=15555555555"/>

  <parameter name="replaceAttributeDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="replaceAttributeAttribute"
             value="title=Unit Test User|title=Best Test User"/>

  <parameter name="replaceAttributesDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="replaceAttributesAttributes"
             value="telephoneNumber=12223334444|homePhone=155566677777"/>

  <parameter name="removeAttributeDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="removeAttributeAttribute"
             value="title=Unit Test User|title=Best Test User"/>

  <parameter name="removeAttributesDn" value="uid=2,ou=test,dc=vt,dc=edu"/>
  <parameter name="removeAttributesAttributes"
             value="telephoneNumber=12223334444|homePhone=155566677777"/>

  <parameter name="krb5Realm" value="VT.EDU"/>
  <parameter name="krb5Kdc" value="ed-dev.middleware.vt.edu"/>
  <parameter name="gssApiSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="gssApiSearchFilter" value="(uid={0})"/>
  <parameter name="gssApiSearchFilterArgs" value="2"/>
  <parameter name="gssApiSearchReturnAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="gssApiSearchResults"
             value="/edu/vt/middleware/ldap/searchResults-2.ldif"/>

  <parameter name="loadPropertiesUrl" value="ldap://ed-dev.middleware.vt.edu:389 ldap://ed-dev.middleware.vt.edu:14389"/>
  <parameter name="loadPropertiesBaseDn" value="ou=test,dc=vt,dc=edu"/>

  <parameter name="getDnUid" value="3"/>
  <parameter name="getDnUser" value="jdoe3@vt.edu"/>
  <parameter name="getDnDuplicateFilter" value="uid=*"/>

  <parameter name="authenticateDn" value="uid=3,ou=test,dc=vt,dc=edu"/>
  <parameter name="authenticateDnCredential" value="password3"/>
  <parameter name="authenticateDnFilter" value="departmentNumber={1}"/>
  <parameter name="authenticateDnFilterArgs" value="0823"/>
  <parameter name="authenticateDnReturnAttrs" value="givenName|sn"/>
  <parameter name="authenticateDnResults" value="givenName=Joho|sn=Dof"/>

  <parameter name="authenticateUser" value="jdoe3@vt.edu"/>
  <parameter name="authenticateCredential" value="password3"/>
  <parameter name="authenticateFilter" value="departmentNumber=0823"/>
  <parameter name="authenticateReturnAttrs" value="givenName|sn"/>
  <parameter name="authenticateResults" value="givenName=Joho|sn=Dof"/>

  <parameter name="digestMd5User" value="test3"/>
  <parameter name="digestMd5Credential" value="password"/>

  <parameter name="cramMd5User" value="test3"/>
  <parameter name="cramMd5Credential" value="password"/>

  <parameter name="toSearchResultsDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="toSearchResultsFilter" value="uid=4"/>
  <parameter name="toSearchResultsAttrs" value="departmentNumber|givenName|sn"/>
  <parameter name="toSearchResultsResults"
             value="/edu/vt/middleware/ldap/searchResults-4.ldif"/>

  <parameter name="cliSearchArgs"
             value="-ldapUrl|ldap://ed-dev.middleware.vt.edu:14389|-baseDn|ou=test,dc=vt,dc=edu|-bindDn|uid=1,ou=test,dc=vt,dc=edu|-bindCredential|VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2|-query|(mail=jdoe5@vt.edu)|departmentNumber|givenName|sn"/>
  <parameter name="cliSearchResults"
             value="/edu/vt/middleware/ldap/searchResults-5.ldif"/>

  <parameter name="cliAuthArgs"
             value="-ldapUrl|ldap://ed-dev.middleware.vt.edu:14389|-baseDn|ou=test,dc=vt,dc=edu|-tls|true|-hostnameVerifier|edu.vt.middleware.ldap.AnyHostnameVerifier|-bindDn|uid=1,ou=test,dc=vt,dc=edu|-bindCredential|VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2|-userField|mail|-user|jdoe6@vt.edu|-credential|password6|-authorizationFilter|(departmentNumber=0826)|departmentNumber|givenName|sn"/>
  <parameter name="cliAuthResults"
             value="/edu/vt/middleware/ldap/searchResults-6.ldif"/>

  <parameter name="jaasDn" value="uid=7,ou=test,dc=vt,dc=edu"/>
  <parameter name="jaasUser" value="jdoe7@vt.edu"/>
  <parameter name="jaasUserRole" value="0827"/>
  <parameter name="jaasUserRoleDefault" value="0827|test-role1|test-role2"/>
  <parameter name="jaasRole" value="inetOrgPerson|organizationalPerson|person|top|virginiaTechPerson"/>
  <parameter name="jaasRoleCombined" value="0827|inetOrgPerson|organizationalPerson|person|top|virginiaTechPerson"/>
  <parameter name="jaasRoleCombinedRecursive" value="0827|group6|group7|group8|group9"/>
  <parameter name="jaasCredential" value="password7"/>

  <parameter name="webXml" value="src/test/resources/web.xml"/>

  <parameter name="ldifSearchServletQuery" value="mail=jdoe8@vt.edu"/>
  <parameter name="ldifSearchServletAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="ldifSearchServletLdif" value="/edu/vt/middleware/ldap/searchResults-8.ldif"/>

  <parameter name="dsmlSearchServletQuery" value="uid=8"/>
  <parameter name="dsmlSearchServletAttrs" value="departmentNumber|givenName|sn|jpegPhoto"/>
  <parameter name="dsmlSearchServletLdif" value="/edu/vt/middleware/ldap/searchResults-8.ldif"/>

  <parameter name="attributeServletQuery" value="(&amp;(givenName=johu)(sn=dol))"/>
  <parameter name="attributeServletAttr" value="jpegPhoto"/>
  <parameter name="attributeServletValue" value="/9j/4AAQSkZJRgABAQEASABIAAD//gATQ3JlYXRlZCB3aXRoIEdJTVD/2wBDAFA3PEY8MlBGQUZaVVBfeMiCeG5uePWvuZHI////////////////////////////////////////////////////2wBDAVVaWnhpeOuCguv/////////////////////////////////////////////////////////////////////////wAARCAANABcDASIAAhEBAxEB/8QAGAAAAwEBAAAAAAAAAAAAAAAAAAIEAQP/xAAiEAEAAgIABQUAAAAAAAAAAAABAAMCEQQSMUFxISIjMnP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8A71fHZZW+ge48MWqvG0bLMRcnZvsdpnGH0R0ryvhlAAAdCBPRTXkZ7wHWaEI/D9LP0yhA/9k="/>

  <parameter name="sessionManagerUser" value="jdoe10@vt.edu"/>
  <parameter name="sessionManagerPassword" value="password10"/>

  <parameter name="dsmlSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="dsmlSearchFilter" value="(uid=11)"/>

  <parameter name="ldifSearchDn" value="ou=test,dc=vt,dc=edu"/>
  <parameter name="ldifSearchFilter" value="(uid=12)"/>

  <parameter name="ldapHost" value="ed-dev"/>
  <parameter name="sleepTime" value="10000"/>

  <test name="coretests" parallel="methods" thread-count="12">
    <groups>
      <run>
        <include name="ldaptest" />
        <include name="authtest" />
        <include name="beantest" />
        <include name="jaastest" />
        <include name="servlettest" />
        <include name="dsmltest" />
        <include name="ldiftest" />
        <include name="ssltest" />
        <include name="wikitest" />
      </run>
    </groups>
    <packages>
      <package name="edu.vt.middleware.ldap.*" />
    </packages>
  </test>
  <test name="clitests">
    <groups>
      <run>
        <include name="ldapclitest" />
        <include name="authclitest" />
      </run>
    </groups>
    <packages>
      <package name="edu.vt.middleware.ldap.*" />
    </packages>
  </test>
  <test name="conntest">
    <groups>
      <run>
        <include name="conntest" />
      </run>
    </groups>
    <packages>
      <package name="edu.vt.middleware.ldap.*" />
    </packages>
  </test>
<!-- must run separate from other tests
  <test name="loadtests" parallel="methods" thread-count="12">
    <groups>
      <run>
        <include name="authloadtest" />
      </run>
    </groups>
    <packages>
      <package name="edu.vt.middleware.ldap.*" />
    </packages>
  </test>
  <test name="pooltests" parallel="methods" thread-count="12">
    <groups>
      <run>
        <include name="softlimitpooltest" />
        <include name="blockingpooltest" />
        <include name="blockingtimeoutpooltest" />
        <include name="sharedpooltest" />
        <include name="connstrategypooltest" />
        <include name="comparisonpooltest" />
      </run>
    </groups>
    <packages>
      <package name="edu.vt.middleware.ldap.pool.*" />
    </packages>
  </test>
-->
</suite>
