# gator application log4j configuration.
# This log file contains information like configuration changes,
# client connections, and database queries.
# It does _not_ contain logging information sent from clients.

# LOGFILE is a file appender using a pretty standard pattern layout.
log4j.appender.LOGFILE=org.apache.log4j.RollingFileAppender
log4j.appender.LOGFILE.file=/var/log/gator.log
log4j.appender.LOGFILE.append=true
log4j.appender.LOGFILE.maxBackupIndex=1
log4j.appender.LOGFILE.maxFileSize=100MB
log4j.appender.LOGFILE.layout=org.apache.log4j.PatternLayout
log4j.appender.LOGFILE.layout.ConversionPattern=%-20d [%t] %-5p %c %x - %m%n

# Set root log level conservatively
log4j.rootCategory=ERROR, LOGFILE

# Set application log levels
# Exercise caution setting entire middleware package in debug.
# Clients the periodcally poll the server can cause a large amount
# of data to be logged.  Keep a careful watch on log files in
# that case.
log4j.logger.edu.vt.middleware=INFO
log4j.logger.org.springframework=INFO
