#
# Properties made available to Spring context via PropertyPlaceHolderConfigurer
#

# Database dialect class name
# One of values defined in the org.hibernate.dialect package,
# http://www.hibernate.org/hib_docs/v3/api/org/hibernate/dialect/package-summary.html
db.dialect=org.hibernate.dialect.PostgreSQLDialect

# Batch size for multiple operations submitted as a batch
# Set to 0 to disable query batching
# MUST set to 0 for HSQL platform
db.batchSize=10

# JDBC driver class
jdbc.driverClass=org.postgresql.Driver

# JDBC connection URL
jdbc.url=jdbc:postgresql://localhost:5432/user

# JDBC user
jdbc.user=gator_user

# JDBC password
jdbc.pass=PASSWORD

# JDBC pool initial size
jdbc.pool.initSize=1

# JDBC pool maximum # idle connections
jdbc.pool.maxIdle=1

# JDBC pool maximum # active connections
jdbc.pool.maxActive=5

# Log4j socket server bind address
log4j.server.bindAddress=127.0.0.1

# Log4j socket server listening port
log4j.server.port=8000

# Root directory where client logs will be written
# A subdirectory for each project will be created under root
log4j.client.root.dir=/home/gator/logs

# Name of a security provider strategy, one of following:
#
# mem  - Memory-backed and loaded via properties file with users/roles.
#        You must provide a list of users and roles in a properties file
#        of the format described at
#        http://static.springframework.org/spring-security/site/reference/html/authentication-common-auth-services.html#in-memory-service
#        and specify the path to the properties file via a servlet context
#        parameter named securityUserPropertiesLocation.
#
# ldap - Users and roles obtained from LDAP.
#        This provider requires an ldap.properties file
#        (see ldap.properties.sample for an example).  The path to the LDAP
#        properties file must be specified by the servlet context parameter
#        securityLdapPropertiesLocation.
security.provider=mem

# Name of security role that allows basic access to the application
security.roleUser=ROLE_USER

# Name of security role that allows for creation of new projects
security.roleAdmin=ROLE_ADMIN

security.mem.userPropertiesFile