<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">
              
  <http>
    <intercept-url
      pattern="/secure/**/*add.html"
      access="ROLE_ADMIN"
      requires-channel="https" />
    <intercept-url
      pattern="/secure/**/*copy.html"
      access="ROLE_ADMIN"
      requires-channel="https" />
    <intercept-url
      pattern="/secure/**/*edit.html"
      access="ROLE_ADMIN"
      requires-channel="https" />
    <intercept-url
      pattern="/secure/**/*delete.html"
      access="ROLE_ADMIN"
      requires-channel="https" />
    <intercept-url
      pattern="/secure/**"
      access="ROLE_USER"
      requires-channel="https"/>
    <intercept-url
      pattern="/login.jsp"
      access="IS_AUTHENTICATED_ANONYMOUSLY"
      requires-channel="https"/>
    <intercept-url
      pattern="/**"
      access="IS_AUTHENTICATED_ANONYMOUSLY" />

    <form-login
      login-page="/login.jsp"
      authentication-failure-url="/login.jsp?error=403"/>
    
    <anonymous />

    <concurrent-session-control
      max-sessions="1"
      exception-if-maximum-exceeded="true" />
  </http>
  
  <ldap-server url="ldaps://directory.example.com" />
  
  <ldap-authentication-provider
    user-search-filter="uid={0}"
    user-search-base="ou=people,dc=example,dc=com"
    group-search-filter="groupMember={0}"
    group-search-base="ou=groups,dc=example,dc=com"
    group-role-attribute="groupName"
  />
  
</beans:beans>
