vt-ldap {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
};

vt-ldap-authz {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    authorizationFilter="uid={1}"
    authorizationFilterArgs="7"
    userField="mail"
    userRoleAttribute="departmentNumber";
};

vt-ldap-filter {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    handlerIgnoreExceptions="javax.naming.NamingException"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    authorizationFilter="uid={1}"
    authorizationFilterArgs="7"
    userFilter="(&(mail={0})(objectClass={1}))"
    userFilterArgs="person"
    userRoleAttribute="departmentNumber";
};

vt-ldap-handler {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    handlerIgnoreExceptions="javax.naming.NamingException"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    authorizationHandlers="edu.vt.middleware.ldap.handler.TestAuthorizationHandler"
    userFilter="(&(mail={0})(objectClass={1}))"
    userFilterArgs="person"
    userRoleAttribute="departmentNumber";
};

vt-ldap-roles {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    storePass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
  edu.vt.middleware.ldap.jaas.LdapRoleAuthorizationModule optional
    useFirstPass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389/ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    roleFilter="(mail={1})"
    roleAttribute="objectClass";
};

vt-ldap-use-first {
  edu.vt.middleware.ldap.jaas.TestLoginModule required;
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    useFirstPass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
};

vt-ldap-try-first {
  edu.vt.middleware.ldap.jaas.TestLoginModule required;
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    tryFirstPass="true"
    storePass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
  edu.vt.middleware.ldap.jaas.LdapRoleAuthorizationModule optional
    useFirstPass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389/ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    roleFilter="(mail={1})"
    roleAttribute="objectClass";
};

vt-ldap-roles-only {
  edu.vt.middleware.ldap.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389/ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    roleFilter="(uid=7)"
    roleAttribute="departmentNumber,objectClass";
};

vt-ldap-dn-roles-only {
  edu.vt.middleware.ldap.jaas.LdapDnAuthorizationModule required
    storePass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389/ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail";
  edu.vt.middleware.ldap.jaas.LdapRoleAuthorizationModule required
    useFirstPass="true"
    ldapUrl="ldap://ed-dev.middleware.vt.edu:14389/ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    roleFilter="(mail={1})"
    roleAttribute="departmentNumber,objectClass";
};

vt-ldap-deprecated {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    host="ed-dev.middleware.vt.edu"
    port="14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
};

com.sun.security.jgss.initiate {
  com.sun.security.auth.module.Krb5LoginModule required
    doNotPrompt="true"
    debug="true"
    principal="test3"
    useKeyTab="true"
    keyTab="src/test/resources/krb5.keytab";
};

