<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

  <bean id="pool"
    class="edu.vt.middleware.ldap.pool.BlockingConnectionPool"
    init-method="initialize"
    p:blockWaitTime="5000">
    <constructor-arg index="0">
      <bean class="edu.vt.middleware.ldap.pool.PoolConfig"
        p:minPoolSize="5"
        p:maxPoolSize="20"
        p:validatePeriodically="true"
        p:validatePeriod="30"
        p:expirationTime="600"
        p:prunePeriod="60"
      />
    </constructor-arg>
    <constructor-arg index="1" ref="connectionFactory"/>
  </bean>
  
  <bean id="connectionFactory"
    class="edu.vt.middleware.ldap.DefaultConnectionFactory"
    p:connectionConfig-ref="connectionConfig"
  />
  
  <bean id="connectionConfig"
    class="edu.vt.middleware.ldap.ConnectionConfig"
    p:ldapUrl="${ldapTestHost}"
    p:tls="true">
    <property name="bindSaslConfig">
      <bean class="edu.vt.middleware.ldap.sasl.SaslConfig"
        p:mechanism="EXTERNAL"/>
    </property>
    <property name="sslSocketFactory">
      <bean class="edu.vt.middleware.ldap.ssl.TLSSocketFactory"
        init-method="initialize">
        <property name="SSLContextInitializer">
          <bean
            factory-bean="sslContextInitializerFactory"
            factory-method="createSSLContextInitializer" />
        </property>
      </bean>
    </property>
  </bean>

  <bean id="sslContextInitializerFactory"
    class="edu.vt.middleware.ldap.ssl.KeyStoreCredentialConfig"
    p:keyStore="classpath:/ed.keystore"
    p:keyStoreType="BKS"
    p:keyStorePassword="changeit"
    p:trustStore="classpath:/ed.truststore"
    p:trustStoreType="BKS"
    p:trustStorePassword="changeit"
  />

</beans>
