<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

  <bean id="authenticator"
    class="edu.vt.middleware.ldap.auth.Authenticator"
    p:dnResolver-ref="dnResolver"
    p:authenticationHandler-ref="authenticationHandler"
  />

  <bean id="dnResolver"
    class="edu.vt.middleware.ldap.auth.PooledSearchDnResolver"
    p:baseDn="ou=test,dc=vt,dc=edu"
    p:userFilter="(&amp;(mail={0})(objectClass={1}))"
    p:userFilterArgs="person">
    <constructor-arg index="0" ref="drConnectionFactory"/>
  </bean>

  <bean id="authenticationHandler"
    class="edu.vt.middleware.ldap.auth.handler.PooledBindAuthenticationHandler"
    p:connectionFactory-ref="ahConnectionFactory"
  />

  <bean id="authenticationRequest"
    class="edu.vt.middleware.ldap.auth.AuthenticationRequest"
    scope="prototype"
  />

  <bean id="drConnectionFactory"
    class="edu.vt.middleware.ldap.pool.PooledConnectionFactory"
    p:connectionConfig-ref="connectionConfig"
    p:poolConfig-ref="poolConfig"
    init-method="initialize"
  />

  <bean id="ahConnectionFactory"
    class="edu.vt.middleware.ldap.pool.PooledConnectionFactory"
    p:connectionConfig-ref="connectionConfig"
    p:poolConfig-ref="poolConfig"
    init-method="initialize"
  />

  <bean id="connectionConfig"
    class="edu.vt.middleware.ldap.ConnectionConfig"
    p:ldapUrl="ldap://ed-dev.middleware.vt.edu:14389"
    p:tls="true"
    p:hostnameVerifier-ref="hostnameVerifier"
    p:bindDn="uid=1,ou=test,dc=vt,dc=edu"
    p:bindCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2">
    <property name="sslSocketFactory">
      <bean class="edu.vt.middleware.ldap.ssl.TLSSocketFactory"
        init-method="initialize">
        <property name="SSLContextInitializer">
          <bean
            factory-bean="sslContextInitializerFactory"
            factory-method="createSSLContextInitializer" />
        </property>
      </bean>
    </property>
  </bean>

  <bean id="poolConfig"
    class="edu.vt.middleware.ldap.pool.PoolConfig"
    p:minPoolSize="5"
    p:maxPoolSize="20"
    p:validatePeriodically="true"
    p:validatePeriod="30"
    p:expirationTime="600"
    p:prunePeriod="60"
  />

  <bean id="hostnameVerifier"
    class="edu.vt.middleware.ldap.AnyHostnameVerifier"
  />

  <bean id="sslContextInitializerFactory"
    class="edu.vt.middleware.ldap.ssl.KeyStoreCredentialConfig"
    p:trustStore="classpath:/ed.truststore"
    p:trustStoreType="BKS"
    p:trustStorePassword="changeit"
  />

</beans>
