<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>LdifSearch</servlet-name>
    <servlet-class>edu.vt.middleware.ldap.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.propertiesFile</param-name>
      <param-value>/ldap.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolPropertiesFile</param-name>
      <param-value>/ldap.pool.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolType</param-name>
      <param-value>BLOCKING</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.outputFormat</param-name>
      <param-value>LDIF</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DsmlSearch</servlet-name>
    <servlet-class>edu.vt.middleware.ldap.servlets.SearchServlet</servlet-class>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.propertiesFile</param-name>
      <param-value>/ldap.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolPropertiesFile</param-name>
      <param-value>/ldap.pool.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolType</param-name>
      <param-value>SOFTLIMIT</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.outputFormat</param-name>
      <param-value>DSML</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>AttributeSearch</servlet-name>
    <servlet-class>edu.vt.middleware.ldap.servlets.AttributeServlet</servlet-class>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.propertiesFile</param-name>
      <param-value>/ldap.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolPropertiesFile</param-name>
      <param-value>/ldap.pool.properties</param-value>
    </init-param>
    <init-param>
      <param-name>edu.vt.middleware.ldap.servlets.poolType</param-name>
      <param-value>BLOCKING</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LdifSearch</servlet-name>
    <url-pattern>/LdifSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DsmlSearch</servlet-name>
    <url-pattern>/DsmlSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeSearch</servlet-name>
    <url-pattern>/AttributeSearch</url-pattern>
  </servlet-mapping>
</web-app>
