<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:security="http://www.springframework.org/schema/security"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:util="http://www.springframework.org/schema/util"
  xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <bean id="configRetrievalStrategy"
    class="edu.vt.middleware.gator.security.ConfigRetrievalStrategy" />

  <bean id="aclProjectEditVoter"
    class="org.springframework.security.vote.AclEntryVoter">
    <constructor-arg ref="aclService"/>
    <constructor-arg value="ACL_PROJECT_EDIT"/>
    <constructor-arg>
      <list>
        <util:constant static-field="org.springframework.security.acls.domain.BasePermission.WRITE"/>
      </list>
    </constructor-arg>
    <property name="processDomainObjectClass" value="edu.vt.middleware.gator.Config"/>
    <property name="objectIdentityRetrievalStrategy" ref="configRetrievalStrategy" />
  </bean>
  
  <bean id="aclProjectDeleteVoter"
    class="org.springframework.security.vote.AclEntryVoter">
    <constructor-arg ref="aclService"/>
    <constructor-arg value="ACL_PROJECT_DELETE"/>
    <constructor-arg>
      <list>
        <util:constant static-field="org.springframework.security.acls.domain.BasePermission.DELETE"/>
      </list>
    </constructor-arg>
    <property name="processDomainObjectClass" value="edu.vt.middleware.gator.ProjectConfig"/>
    <property name="objectIdentityRetrievalStrategy" ref="configRetrievalStrategy" />
  </bean>
  
  <bean id="roleVoter" class="org.springframework.security.vote.RoleVoter"/>
  
  <bean id="projectAccessDecisionManager"
    class="org.springframework.security.vote.AffirmativeBased">
    <property name="allowIfAllAbstainDecisions" value="false"/>
    <property name="decisionVoters">
      <list>
        <ref local="roleVoter"/>
        <ref local="aclProjectEditVoter"/>
        <ref local="aclProjectDeleteVoter"/>
      </list>
    </property>
  </bean>
  
  <!-- Processes AFTER_ACL_COLLECTION_READ configuration settings -->
  <bean id="afterAclCollectionRead"
    class="org.springframework.security.afterinvocation.AclEntryAfterInvocationCollectionFilteringProvider">
    <security:custom-after-invocation-provider />
    <constructor-arg ref="aclService"/>
    <constructor-arg>
      <list>
        <util:constant static-field="org.springframework.security.acls.domain.BasePermission.READ"/>
      </list>
    </constructor-arg>
    <property name="processDomainObjectClass" value="edu.vt.middleware.gator.ProjectConfig"/>
    <property name="objectIdentityRetrievalStrategy" ref="configRetrievalStrategy" />
  </bean>
  
  <!-- Processes AFTER_ACL_READ configuration settings -->
  <bean id="afterAclRead" class="org.springframework.security.afterinvocation.AclEntryAfterInvocationProvider">
    <security:custom-after-invocation-provider />
    <constructor-arg ref="aclService"/>
    <constructor-arg>
      <list>
        <util:constant static-field="org.springframework.security.acls.domain.BasePermission.READ"/>
      </list>
    </constructor-arg>
    <property name="processDomainObjectClass" value="edu.vt.middleware.gator.ProjectConfig"/>
    <property name="objectIdentityRetrievalStrategy" ref="configRetrievalStrategy" />
  </bean>
</beans>
