vt-ldap {
  edu.vt.middleware.ldap.jaas.LdapLoginModule required
    host="ed-dev.middleware.vt.edu"
    port="14389"
    base="ou=test,dc=vt,dc=edu"
    tls="true"
    hostnameVerifier="edu.vt.middleware.ldap.AnyHostnameVerifier"
    serviceUser="uid=1,ou=test,dc=vt,dc=edu"
    serviceCredential="VKSxXwlU7YssGl1foLMH2mGMWkifbODb1djfJ4t2"
    userField="mail"
    userRoleAttribute="departmentNumber";
};
